<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yunxinlink.notes">

    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读SDCard数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 获取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 添加录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 读取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 获取任务官不理的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 联网的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取WiFi状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络状态的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 改变WiFi状态的权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 管理账号的权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- 获取账号的权限 -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".NoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Default">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.Default.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NoteEditActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity-alias
            android:name=".ui.ShareActivity"
            android:label="@string/label_note_share"
            android:targetActivity=".ui.NoteEditActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.FolderListActivity"
            android:label="@string/label_folder_list" />

        <service
            android:name=".service.CoreService"
            android:exported="false" />

        <activity
            android:name=".ui.FolderEditActivity"
            android:label="@string/label_folder_edit"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.HandWritingActivity" />

        <!-- ShareSDK的分享组件 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
              AuthorizeAdapter表示一个继承自cn.sharesdk.framework.authorize.AuthorizeAdapter
              的类，这个类可以监听到页面的生命周期，也可以获取授权页面的各种UI控件。
              开发者可以通过继承AuthorizeAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            -->
            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.yunxinlink.notes.share.NoteAuthorizeAdapter" />
            <meta-data
                android:name="QQWebShareAdapter"
                android:value="com.yunxinlink.notes.share.NoteQQWebShareAdapter" />
            <meta-data
                android:name="QZoneWebShareAdapter"
                android:value="com.yunxinlink.notes.share.NoteQZoneWebShareAdapter" />

            <!--
            	QZoneWebShareAdapter表示一个继承自cn.sharesdk.tencent.qzone.QZoneWebShareAdapter
            	的类，这个类可以监听到页面的生命周期，也可以获QQ空间网页分享权页面的各种UI控件。
            	开发者可以通过继承QZoneWebShareAdapter，重写其方法，并获取各种UI来自定义这个页面的行为。
            <meta-data android:name="QZoneWebShareAdapter" android:value="cn.sharesdk.demo.MyQZoneWebShareAdapter" />
            <meta-data android:name="QQWebShareAdapter" android:value="cn.sharesdk.demo.MyQQWebShareAdapter" />
            -->


            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent1105624410" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".ui.TestActivity" />
        <activity
            android:name=".ui.TrashActivity"
            android:label="@string/label_trash" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/label_settings" />
        <activity
            android:name=".ui.settings.SettingsSyncActivity"
            android:exported="false"
            android:label="@string/action_upload">
            <intent-filter>
                <action android:name="com.yunxinlink.notes.SYNC_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/action_search">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsSecurityActivity">
            <intent-filter>
                <action android:name="com.yunxinlink.notes.SECURITY_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".lock.ui.LockPatternActivity"
            android:theme="@style/AppTheme.LockPattern.Dark"/>
        <activity android:name=".lock.ui.LockDigitalActivity"/>
    </application>

</manifest>